/* --- Variables */

:root {
  --general-radius: 12px;
  --display-height: 84px;
  --calculator--width: 235px;
  --calculator--height: 320px;
}

/* --- Main Styles --- */
/* p {
  -webkit-text-size-adjust: auto;
  text-size-adjust: auto;
} */

@font-face {
  font-family: "Roboto", sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=RobotoRoboto:wght@100&display=swap);
  font-weight: 300;
}

#calculator {
  height: var(--calculator--height);
  width: var(--calculator--width);
  margin: 50px auto;
  border-radius: var(--general-radius);
  background-color: rgb(65, 65, 65);
  outline: black solid 1px;
}

#display {
  outline: magenta solid 3px;
  height: var(--display-height);
  width: var(--calculator-width);
  border-top: 1px solid rgb(150, 150, 150);
  border-right: 1px solid rgb(150, 150, 150);
  border-left: 1px solid rgb(150, 150, 150);
  background-color: rgb(65, 65, 65);
  border-radius: var(--general-radius) var(--general-radius) 0px 0px;
  color: white;
  white-space: normal;
}

#digits {
  outline: red solid 2px;
  width: calc(var(--calculator--width) - 30px);
  height: calc(var(--display-height) - 15px);
  margin: 15px;
  display: grid;
  font-family: roboto;
  font-size: 25px;
  outline: yellow solid 3px;
  width: calc(var(--calculator--width) - 30px);
  height: calc(var(--display-height) - 15px);
  align-content: flex-end;
  justify-content: end;
  overflow: hidden;
}

#allKeys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 46px;
  grid-gap: 1px;
}

button {
  border-radius: 0px;
  background-color: rgb(125, 125, 125);
  border-color: transparent;
  font-size: 22px;
  color: white;
}

#zero {
  width: 118px;
  grid-column: 1 / 3;
  border-radius: 0px 0px 0px var(--general-radius);
}

#equal {
  border-radius: 0px 0px var(--general-radius) 0px;
}

.orange {
  background-color: orange;
}

.darkgrey {
  background-color: rgb(85, 85, 85);
}

#allKeys button:active {
  filter: brightness(80%);
}
