/* --- Variables */
:root {
  --cal-width: 235px;
  --cal-height: 320px;
  --display-height: calc(var(--cal-height) / 4);
  --general-radius: 12px;
  --display-margin: 15px;
}

/* --- Main Styles --- */
@font-face {
  font-family: "Roboto", sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=RobotoRoboto:wght@100&display=swap);
  font-weight: 100;
}

#cal {
  height: var(--cal-height);
  width: var(--cal-width);
  margin: 50px auto;
  border-radius: var(--general-radius);
  background-color: rgb(65, 65, 65);
  outline: black solid 1px;
}

#display {
  height: var(--display-height);
  width: var(--cal-width);
  border-top: 1px solid rgb(150, 150, 150);
  border-right: 1px solid rgb(150, 150, 150);
  border-left: 1px solid rgb(150, 150, 150);
  background-color: rgb(65, 65, 65);
  border-radius: var(--general-radius) var(--general-radius) 0px 0px;
  color: white;
  white-space: normal;
}

#digits {
  display: grid;
  width: calc(var(--cal-width) - 30px);
  height: calc(var(--display-height) - 15px);
  font-size: 45px;
  font-family: roboto;
  align-content: flex-end;
  justify-content: end;
  overflow: hidden;
  margin: var(--display-margin);
  /* outline: yellow solid 1px; */
}

#allKeys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 47px;
  grid-gap: 1px;
}

button {
  border-radius: 0px;
  background-color: rgb(125, 125, 125);
  border-color: transparent;
  font-size: 22px;
  color: white;
}

#zero {
  width: calc(var(--cal-width/2));
  grid-column: 1 / 3;
  border-radius: 0px 0px 0px var(--general-radius);
}

#equal {
  border-radius: 0px 0px var(--general-radius) 0px;
}

.orange {
  background-color: orange;
}

.darkgrey {
  background-color: rgb(85, 85, 85);
}

.shrink-text {
  font-size: 19px;
}

#allKeys button:active {
  filter: brightness(80%);
}
