/* --- Variables */

:root {
  --general-radius: 12px;
  --display-height: 84px;
}

/* --- Main Styles --- */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#calculator {
  display: grid;
  height: 320px;
  width: 235px;
  border-radius: var(--general-radius);
  background-color: rgb(65, 65, 65);
  outline: black solid 1px;
}

#display {
  height: var(--display-height);
  border-top: 1px solid rgb(150, 150, 150);
  border-right: 1px solid rgb(150, 150, 150);
  border-left: 1px solid rgb(150, 150, 150);
  background-color: rgb(65, 65, 65);
  border-radius: var(--general-radius) var(--general-radius) 0px 0px;
  text-align: right;
  text-align: bottom;
  font-size: 50px;
  color: white;
}

#allKeys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 46px;
  grid-gap: 1px;
}

button {
  border-radius: 0px;
  background-color: rgb(125, 125, 125);
  border-color: transparent;
  font-size: 22px;
  color: white;
}

#zero {
  width: 118px;
  grid-column: 1 / 3;
  border-radius: 0px 0px 0px var(--general-radius);
}

#equal {
  border-radius: 0px 0px var(--general-radius) 0px;
}

.orange {
  background-color: orange;
}

.darkgrey {
  background-color: rgb(85, 85, 85);
}

#allKeys button:active {
  filter: brightness(80%);
}